# Docker compose file for local development

version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: dockerfile
    ports:
      - "8000:8000"
    env_file: .env

#  backend-migrate:
#    build: .
#    entrypoint: ["alembic", "upgrade", "head"]
#    env_file: .env
